body {
     background: black;
     color:white;
     margin: 0px;
     font-family: "Qwitcher+Grypen", sans-serif;
}

header {
    border-bottom: solid 2px rgb(42, 122, 288);
    padding: 20px;
    font-size: 32px;
    color:rgb(42,122, 288);
}
 section {
      background-color: rgb(28, 104, 38)
      padding-bottom: 80px;
      padding-top: 80px;
      display: flex;
      justify-content: center;
 }


 .chamada-texto {
     margin-right: 20px;
 }

h1 {
    font-size: 40px;
}

p {
    font-size: 20px
}
